.header-site {
    background: #000000 url(/siteImages/barhigh.jpg) 100% 100% no-repeat;
}

a {
    cursor: pointer;
}
.serviceMenuItem {
    cursor: pointer;
}

#header{
    height:52px;
    width: 80vw;
    max-width: 1680px;
    min-width: 800px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    transition: top 0.4s ease-in-out;
    top: 0px;
    z-index: 10;
}


  #header.sticky{
      opacity: 0.7;
      top: -32px;
  }

  nav{
      background-image:url(/siteImages/bar_thick_long.jpg);
      background-repeat: no-repeat;
      height: 52px;
  }

  #mainNavigation{
      display:flex;
      flex-direction: row;
  }

  #menuBackground{
      display: none;
  }

  #menuIcon{
    display: none;
    position: absolute;
    right: 0;
    padding: 0 2px 0 2px;
    margin: 14px 10px 0 0;
  }

  #menuIcon > div {
    width: 30px;
    height: 4px;
    background-color: #565656;
    margin: 5px 0;
    border-radius: 2px;
  }


  .box {
    height: 72px;
  }


  #barbackground {
      height:92px;
      left:0px;
      top:0px;
  }

  #logo{
    height:52px;
      width:84px;
        padding-left: 30px;
      left:20;
      -webkit-transition: all 0.4s ease;
       transition: all 0.4s ease;
  }

  logo.stick{
      height:55px;
      width:55px;
  }

  #logo:hover {
      padding-left: 40px;
      ;
  }

  logo:hover nav {
      height:77px;
 }


  #mainMenu{
      display:flex;
      flex-direction: row;
      align-items: flex-end;
      }

ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
  }

 #mainMenu > li{
      list-style-type: none;
      background-color: #ffffff00;
      /*border-left: 2px solid rgba(0, 247, 255, 0.164);*/
      padding:0 12px 0 1.2vw;
      display: grid;
      flex-direction: row;
      align-items: stretch;
      position: relative;
      height: 49px;
      white-space:nowrap;
  }


  .dropdown{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 49px;
    min-width: 100%;
    border-radius: 3px;
    box-shadow: 3px 0 #888888;
  }

  #mainMenu > li:hover > .dropdown {
    display: flex;
  }

.dropdown > li {
    min-width: 100%;
    height: 30px;
    background-color: white;;
    border-bottom: 2px solid lightgrey;
    padding: 0;
    line-height: 30px;
    
}

.dropdownElement > a:hover{
    font-weight: bold;
    letter-spacing: -1px;
    font-family: Josefinsemibold;
    text-decoration: underline;
    text-decoration-color:#ffb42a66;
    border: none;
}

.dropdownElement > a{
    letter-spacing: 1px;
  font-size: 15px;
  border-bottom: none;
  font-family: Josefin;
  padding: 0 10px 0 25px;
  display: block;
}

.fadeOut{
    animation: dropdownfadeout 0.5s ease-out;
  }



  .menuItemSelected{
    font-size: 16px;
    border-bottom: 3px solid #ffb42a66;
  }



@media screen and (max-width:1600px) {
    .li{ padding:0 12px 0 50px;}
}
@media screen and (max-width:1024px) {
    .li{ padding:0 12px 0 40px;}
}
@media screen and (max-width:980px) {
    .li{ padding:0 12px 0 30px;}
}
@media screen and (max-width:767px) {
    .li{ padding:0 12px 0 20px;}
}
@media screen and (max-width:599px) {
    .li{ padding:0 12px 0 12px;}
}

  li:first-child{
    border-left: none;
  }

  li a h3 {
      margin: 0;
      font-family: Josefin;
      font-size: 15px;
      background-color: #ffffff00;
      font-weight: bold;
      border: none;
      border-bottom:3px rgba(255, 255, 255, 0);
      border-radius:1.5px;
      text-transform: uppercase;
      padding: 0 0 0 0;
      text-decoration: none;
      text-align: center;
      /*-webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;*/

  }


  li a{
      text-decoration: none;
      color: #3d3c3d;
  }


 #smallimage {
      display:block;
      float: center;
      margin: auto;
      height: 28px;
      width: auto;
      opacity: 0.18;
  }

  /* Change the link color on hover */


/* Ez nem működik sajnos*/
#smallimage:hover ~ a {
    font-size:16px;
    text-decoration: none;
    border-bottom: 3px solid #ffb42a66;
    border-radius: 1.5px;
}

  li a:hover {
      font-size:16px;
      text-decoration: none;
      border-bottom: 3px solid #ffb42a66;
      border-radius: 1.5px;
  }

  a:hover #header {
    opacity: 1;
  }



  a:focus {
      outline:0;
      text-decoration: none;
      border-bottom: 2px solid #ffb42a66;
  }

  a:active {
      outline:0;
      text-decoration: none;
      border-bottom: 2px solid #ffb42a66;
  }

  #languages {
      position: absolute;
      right: -30px;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-around;
  }

  #languages img{
    width: 30px;
    height: auto;
    opacity: 0.5;
    cursor: pointer;
    border-top: 3px solid  white;
    border-bottom: 3px solid  white;
  }

  #languages img:hover{
    border-top: 3px solid  #ffb42a66;
    border-bottom: 3px solid  #ffb42a66;
  }
  

  @keyframes dropdownfade{
      0% {
          opacity: 0;
          display: none;
      }
      100% {
          opacity: 1;
          display: flex;
      }
  }

  @keyframes dropdownfadeout{
    0% {
        display: flex;
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}


/*@media only screen and (max-width : 1000px) {


	header {
		position: absolute;
	}

	#mainNavigation {
		display:block;
	}

nav a{
    float: left;
}
nav #mainMenu{
    float: right;
    border: 10px solid black;
}

#mainMenu > li{
    display: none;
}

#mainMenu:hover + li{
    display: flex;
}*/

@media only screen and (max-width : 460px) {

    #menuBackground{
        display: none;
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: 99;
        background-color: #ffd260;
        opacity: 0;
    }

    #mainMenu{
        
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #606060;
        position: absolute;
        right: 0;
        top: 49px;
        border-radius: 3px;
        overflow: auto;
        box-shadow: #3d3c3d;
        height: calc(100vh - 79px);
        z-index: 100;
        
    }

    #mainMenu > li{
        width: 100%;
       display: block;
       position: static;
       border-bottom: 1px solid #686868;
       padding-top: 10px;
       height: auto;
       -webkit-overflow-scrolling: touch;
       background-image: linear-gradient(#606060,#424242);
    }

    #mainMenu > li:active, #mainMenu > li:hover{
       background-image: linear-gradient(#424242,#2e2e2e);
    }

    #mainMenu > li a{
       display: flex;
       flex-direction: row;
       padding-bottom: 4px;
    }

    #mainMenu > li a img{
       height: 2.5vh;
       width: auto;
       filter:url(/index.html/#f5);
     }

     #mainMenu > li a > div{
        width: 11vw;
     }

    #mainMenu > li:last-child{
        border-bottom: none;
     }

    #menuIcon{
        display: block;
    }

    #languages{
        top: 3px;
        left: 125px;
        right: auto;

    }

    .dropdown{
        display: block;
        position: static;
        box-shadow: none;
        background-color: #3f3f3f;
      }

      .dropdown li {
          background-color: inherit;
          border-bottom: 1px solid #565656;
      }

      .dropdown li:last-child{
          border-bottom: none;
      }

      #mainMenu a{
        color: #e8e8e8
    }

    .dropdown a {
        color: #dddddd;
    }



}