.startercontainer {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.starteritem {
  flex-grow: 1;
}

.serviceContainer{
  display: none;
  margin-top: 74px;
  margin-bottom: 48px;
  flex-grow: 1;
  width: 80vw;
  max-width: 1680px;
}

.perspective{
  display: flex;
  flex-direction: row;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  min-width: 480px;
  align-items: center;
  justify-content: center;
}

.perspective > img{
  /*object-fit: contain;*/
  margin: 0 0px;
  display: block;
  width: 120px;
  height: auto;
  /*box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.12);*/
  margin: 0 0;
  opacity: 0.2;
  padding-top: 30px;
}

#serviceshort{
  display: flex;
  flex-direction: row;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  min-width: 600px;
  align-items: top;
  justify-content: top;
  flex-wrap: nowrap;
  background-color: #f2f2f2;
}

#serviceshort .serviceshortinner {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  min-width: 200px;
  align-items: top;
  justify-content: top;
}

#serviceshort .serviceshortinner > img {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 80px;
  min-width: 200px;
  align-items: top;
  justify-content: center;
  opacity: 0.22;
}

#serviceshort > img{
  /*object-fit: contain;*/
  margin: 0 0px;
  display: block;
  min-width: 120px;
  width: 12vw;
  height: auto;
  /*box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.12);*/
  margin: 0 0;
  opacity: 0.2;
  padding-top: 30px;
}

.sectionContainer{
  position: relative;
  margin-left: 5vw;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 10px;
  top: 0px;
  font-family: 'Josefin';

}

.sectionContainer > h6{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  margin-top: 10px;
}

.sectionText{
  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-align: justify;
  max-width: 1500px;
  z-index: -1;
  flex-grow: 1;
  font-family: Josefin;
}
.sectionTextTitle{
  font-family: Josefinsemibold;
  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-align: justify;
  max-width: 1500px;
  z-index: -1;
  flex-grow: 1;
  margin-bottom: 10px;
}

ul.sectionList{
  text-align: justify;
  display: list-item;
  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-align: justify;
  margin-bottom: 1em;
}

ul.sectionList > li{
  list-style-type: circle;
}


.starterimagecontainer {
  display: flex;
  background-image: url(/siteImages/starterpromowhitetopnologo.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  align-items: center;
  height: 40vw;
  max-height: 600px;
  width: 100%;
}

.starterimagecontainer .content {
  display: flex;
  flex-flow: row;
  flex-grow:1;
  justify-content: flex-start;
  background-image: url(/siteImages/whitebackground.png);
  background-size: 100% 100%;
  height: 70%;
  max-height: 250px;
  background-repeat: no-repeat;
  align-items: center;
}

.starterimagecontainer .content .message {
  display: flex;
  flex-flow: column;
  height: 80%;
  justify-content: space-between;
  align-items: left;
  opacity: 0.8;
}

.starterimagecontainer .content .message .messageline {
  display: flex;
  flex-flow: row;
  padding-left: 3vw;
  justify-content: flex-start;
  align-items: center;
}

.starterimagecontainer .content .message .messageline .image {
  align-items: left;
  width: 60px;
  height: 55px;
}

.starterimagecontainer .content .message .messageline .image >img {
  height: 90%;
  width: auto;
  padding-right: 10%;
}

.starterimagecontainer .logo > img {
  height: 20vw;
  max-height: 360px;
}

.starterimagetext {
  font-family: Josefinsemibold;
  font-size: 24px;
  line-height: 1.35;
  opacity: 0.8;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-align: LEFT;
  z-index: 500;
  flex-grow: 1;
}



.starterimagecontainer .logo{
  display:flex;
  flex-flow:row;
  flex-grow: 1;
  justify-content: flex-end;
}

.index-wrapper {
  display: flex;
  flex-flow: column;
  height: 25vh;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: rgba(240,240,240);
}

.index-wrapper .index-menuu {
  /*box-shadow: 0 0 2px 2px #d0d0d0;*/
  z-index: 0;
  background-color: rgba(240,240,240);
  padding: 0.5em;
  /*height: 3vh;*/
  align-items: center;
  opacity: 1;
}
.index-wrapper .index-main {
  display: flex;
  background: white;
  flex-direction: row;
  flex: 1 1;
  flex-wrap: wrap;
  flex-flow: row wrap;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: rgba(240, 240, 240)
}
.index-wrapper .index-main .index-square {
  /*flex-basis: 25%;*/
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 250px;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: rgba(240, 240, 240)
}

.serviceMenuItem{
  background-position: center;
  background-size: cover;
  transition: all .5s ease-in-out;
  opacity: 0.75;
}

.serviceMenuItem:hover, .serviceMenuItem:active{
  opacity: 1;
}

.index-wrapper .index-main .index-square .serviceMenuItem {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.index-wrapper .index-main .index-square .serviceMenuItem:hover {
  transform: scale(1.1);
}
.index-wrapper .index-main .index-square .serviceMenuItem div {
  /*flex: 1;*/
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.starterText{
  background: rgba(255, 255, 255, 0)
}

.starterText > h2{
  font-family: 'Flamalight';
  font-size: 16px;
  color: rgb(19, 19, 19, 0.8);
  text-align: center;
  margin: 0;
  font-weight: 400;
}

.starterText > h4{
  /*background: rgba(255,255,255,0.6);*/
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  font-family: 'Flamalight';
  font-size: 24px;
  color: rgb(19, 19, 19, 0.8);
  text-align: center;
  margin: 0;
  font-weight: 3;
}

#serviceMenuInvestor{
  background-image: url(/siteImages/PIXINO-investor.jpg);
}

#serviceMenuDesigner{
  background-image: url(/siteImages/designer.jpg);
}

#serviceMenuArchitect{
  background-image: url(/siteImages/architecture.jpg);
}

#serviceMenuManufacturer{
  background-image: url(/siteImages/manufacturer.jpg);
}

#serviceMenuTeam{
  background-image: url(/siteImages/team.jpg);
}

@media only screen and (max-width : 460px) {
  #serviceshort{
    flex-direction: column;
    min-width: 0;
    width: 100%;
  }

  .serviceContainer{
    width: 100%;
    margin-top: 10px;
  }

  .sectionContainer{
    margin-right: 5vw;
    width: 100%;
  }

  .perspective{
    min-width: 0;
    width: 100%;
  }

  .perspective > img{
    width: 10vw;
    margin-left: 2vw;
  }

  .index-wrapper{
    height: 55vh;
  }

  .starterimagecontainer .content > img {
    height: 32px;
    padding-right: 10%;
  }

  .sectionText, ul.sectionList, .sectionTextTitle {
    font-size: 14px;
  }

  .sectionContainer > h6{
    font-size: 18px;
  }

  .sectionContainer > ul{
    padding-left: 10px;
  }
}
