---
title: BIMeXpert | Team
layout: default_EN
lang: en
---

<div id=ourTeam>
  <div id="allMembers">
    <h1>Our team</h1>
    <div class=memberRow id=topRow>
        <div class=spacer></div>
        {% for member in site.data.team_1 %}
          {% include member_block.html %}
        {% endfor %}
        <div class=spacer></div>
      </div>
      <div class=memberRow id=secondRow>
        {% for member in site.data.team_2 %}
          {% include member_block.html %}
        {% endfor %}    
      </div>
  </div>
</div>
