<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="/assets/js/jquery-3.3.1.js"></script>
    <script src="/assets/js/init.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126169138-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-126169138-1');
    </script>
</head>

<body>
    <header id="header">
        <nav id="mainNavigation">
            <a href="index.html">
                <img id="logo" src="/siteImages/logo_ferde_k.png" alt="BIMeXpert LOGO">
            </a>
            <div class="spacer"></div>
            <div id="menuIcon" onclick="showMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div id="menuBackground" onclick="hideMenu()"></div>
            <ul id="mainMenu">
                <li><a href="/BIM.html" onclick="">
                        <div><img src="/siteImages/raise-your-hand-to-ask.png" id="smallimage" alt="" /></div>
                        <h3 class="HU">Mi a BIM?</h3>
                    </a>
                </li>
                <li id=services><a href="/services.html" onclick="">
                        <div><img src="/siteImages/gears.png" id="smallimage" alt="" /></div>
                        <h3 class="HU">szolgáltatások</h3>
                    </a>
                    <ul id="servicesDropDown" class="dropdown">
                        <li class="dropdownElement">
                            <a name="Investors" href="/services.html#Investors" class="HU">Beruházóknak</a>
                        </li>
                        <li class="dropdownElement">
                            <a name="Designers" href="/services.html#Designers" class="HU">Tervezőknek</a>
                        </li>
                        <li class="dropdownElement">
                            <a name="Architects" href="/services.html#Architects" class="HU">Generáltervezőknek</a>
                        </li>
                        <li class="dropdownElement">
                            <a name="Manufacturers" href="/services.html#Manufacturers" class="HU">Gyártóknak</a>
                        </li>
                        <li class="dropdownElement">
                            <a name="Applicants" href="/services.html#Applicants" class="HU">Munkavállalóknak</a>
                        </li>
                    </ul>
                </li>
                <li><a href="/team.html" onclick="">
                        <div><img src="/siteImages/team.png" id="smallimage" alt="" /></div>
                        <h3 class="HU">Csapatunk</h3>
                    </a>
                </li>
                <li><a href="/contacts.html" onclick="">
                        <div> <img src="/siteImages/phone.png" id="smallimage" alt="" /></div>
                        <h3 class="HU">Kapcsolat</h3>
                    </a>
                </li>

                </li>
            </ul>
            <div id="languages">
                <a href="/index.html"><img src="/siteImages/flag_HUN.png" class="flag" id="flagHU" onclick="languageHU()"
                        alt="HU" /></a>
                <a href="/index_EN.html"><img src="/siteImages/flag_EN.png" class="flag" id="flagEN" onclick="languageEN()"
                        alt="EN" /></a>
            </div>
        </nav>
    </header>
    <div id="content">
        {{ content }}
    </div>

    <footer id="footer">
        <p class="infoText" id="email">&#128387: info@bimexpert.hu</p>
        <p class="infoText" id="phone">&#9743: +36706029845</p>
        <div class="spacer"></div>
        <p class="infoText" id="company">BIMe<span id="X">X</span>pert Kft.</p>
    </footer>
</body>

<svg height="0">
    <filter id="f3">
        <feConvolveMatrix filterRes="100 100" style="color-interpolation-filters:sRGB" order="3" kernelMatrix="0 -1 0   -1 4 -1   0 -1 0"
            preserveAlpha="true" />
    </filter>
    <filter id="f4">
        <feSpecularLighting surfaceScale="5" specularConstant="1" specularExponent="10" lighting-color="white">
            <fePointLight x="-5000" y="-10000" z="20000" />
        </feSpecularLighting>
    </filter>
    <filter id="f5">
        <feColorMatrix values="1 -0.2 0 0 0
                            0 1 0 -0.1 0
                            0 1.2 1 0.1 0
                             0 0 1.7 1 0">
    </filter>
</svg>

</html>