<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/starter.css">
    <link rel="stylesheet" href="/assets/css/article.css">
    <link rel="stylesheet" href="/assets/css/contacts.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/mainMenu.css">
    <link rel="stylesheet" href="/assets/css/team.css">
    <script src="/assets/js/jquery-3.3.1.js"></script>
    <script src="/assets/js/init.js"></script>
</head>

<body>
    <header id="header">
        <nav id="mainNavigation">

            <a href="index.html">
                <img id="logo" src="/images/logo_ferde_k.png" alt="BIMeXpert LOGO">
            </a>
            <div class="spacer"></div>
            <ul id="mainMenu">
                <li>
                <li><a href="/BIM_EN.html" onclick="">
                        <img src="/images/raise-your-hand-to-ask.png" id="smallimage" alt="" />
                        <h3 class="HU">What is BIM?</h3>
                    </a>
                </li>
                <li id=services><a href="/services_EN.html" onclick="">
                        <img src="/images/gears.png" id="smallimage" alt="" />
                        <h3 class="HU">Services</h3>
                    </a>
                    <ul id="servicesDropDown" class="dropdown">
                        <li class="dropdownElement">
                            <a href="/services_EN.html#Designers" class="HU">For Designers</a>
                        </li>
                        <li class="dropdownElement">
                            <a  href="/services_EN.html#Manufacturers" class="HU">For Manufacturers</a>
                        </li>
                        <li class="dropdownElement">
                            <a  href="/services_EN.html#Applicants" class="HU">For Applicants</a>
                        </li>
                    </ul>
                </li>
                <li><a href="/team_EN.html" onclick="">
                        <img src="/images/team.png" id="smallimage" alt="" />
                        <h3 class="HU">Team</h3>
                    </a>
                </li>
                <li><a href="/contacts_EN.html" onclick="">
                        <img src="/images/phone.png" id="smallimage" alt="" />
                        <h3 class="HU">Contacts</h3>
                    </a>
                </li>

                </li>
            </ul>
            <div id="languages">
                <a href="index.html"><img src="/images/flag_HUN.png" class="flag" id="flagHU" alt="HU" /></a>
                <a href="index_EN.html"><img src="/images/flag_EN.png" class="flag" id="flagEN" alt="EN" /></a>
            </div>
        </nav>
    </header>
    <div id="content">
    {{ content }}
    </div>

    <footer id="footer">
        <p class="infoText" id="email">&#128387: info@bimexpert.hu</p>
        <p class="infoText" id="phone">&#9743: +36706029845</p>
        <div class="spacer"></div>
        <p class="infoText" id="company">BIMe<span id="X">X</span>pert Kft.</p>
    </footer>
</body>

</html>